*
{
	margin: 0;
	padding: 0;
	font-family: serif;
}

.info{
	font-size: 30px;
	padding: 10px 10px;
	position: absolute;
	top: 300px;
	left: 400px;
	max-width:400px;
	color: #221402;
}

.ending{
	position: absolute;
	top: 700px;
	left: 400px;
	font-size: 25px;
	color: #221402;
}

ul.main-nav{
	background-color: #AA3939;
	padding: 20px 0 20px 0;
	text-align: center;
}

ul.main-nav
 li{
	display: inline;
}

ul.main-nav
 li a{
	color: #FFAAAA	 ;
	font-size: 30px;
	padding: 7px 20px;
	text-decoration: none;
	

}

ul.main-nav
 li a:hover{
 	color: #FFF2AA;
	background-color: #FFAAAA;
	transition: 0.5s ease
}

h1.astronomy_title{
	text-align: center;
	font-size: 70px;
	padding: 100px;	
	background: url('pictures/astronomy_back.jpg');
	/*background-size: cover;*/
	color: #F0EFEF;
}
h1.project_title{
	text-align: center;
	font-size: 70px;
	padding: 100px;	
	background: url('pictures/project_back.jpg');
	background-size: cover;
	color: #F0EFEF;
}

h1.blogs_title{
	text-align: center;
	font-size: 70px;
	padding: 100px;	
	background: url('pictures/blogs_back.jpg');
	background-size: cover;
	color: #F0EFEF;

}

div.gallery {
  background-color: #AA3939;
}

div.gallery:hover {
  background-color: #7F1E1E;
  transition: 0.5s ease
}

div.gallery img {
  width: 400;
  height: 220;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #FFF2AA;
}

.responsive {
  padding: 50 140px;
  float: left;
}


.project_desc{
	padding: 30 400px;
	max-width: 1500;
	font-size: 150%;
	text-align: left;
}

.iframe_wrapper{
	text-align: center;
}