*
{
	margin: 0;
	padding: 0;
	font-family: serif;
}

.info{
	background-color: #FFFEFA;
	border: 5px solid #AA3939;
	padding: 50px;
	margin: auto;
	margin-top: 150px;
	font-size: 200%;
	max-width:60%;
	color: #000000;
	text-align: justify;
}

ul.main-nav{
	background-color: #AA3939;
	padding: 20px 0 20px 0;
	text-align: center;
}

ul.main-nav
 li{
	display: inline;
}

ul.main-nav
 li a{
	color: #FFAAAA	 ;
	font-size: 30px;
	padding: 7px 20px;
	text-decoration: none;
	

}

ul.main-nav
 li a:hover{
 	color: #FFF2AA;
	background-color: #FFAAAA;
	transition: 0.5s ease
}

h1.astronomy_title{
	text-align: center;
	font-size: 70px;
	padding: 100px;	
	background: url('pictures/astronomy_back.jpg');
		color: #F0EFEF;
}
h1.project_title{
	text-align: center;
	font-size: 70px;
	padding: 100px;	
	background: url('pictures/project_back.jpg');
	background-size: cover;
	color: #F0EFEF;
}

h1.blogs_title{
	text-align: center;
	font-size: 70px;
	padding: 100px;	
	background: url('pictures/blogs_back.jpg');
	background-size: cover;
	color: #F0EFEF;

}

div.gallery {
  background-color: #AA3939;
}

div.gallery:hover {
  background-color: #7F1E1E;
  transition: 0.5s ease
}

div.gallery img {
  width: 400;
  height: 220;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #FFF2AA;
}

.responsive {
  padding: 50 140px;
  float: left;
}



.project_desc{

  font-size: 150%;
  margin:50px auto;
  width: 75%;
}

.iframe_wrapper{
	text-align: center;
}